{% extends "booking-base.html" %}
{% block title %}Booking{% endblock %}
{% load static %}

{% block content %}




    <!-- booking.html content starts here -->
    <!-- Header -->
    
   <!--<header id="header" class="container-fluid p-0 ">
<div class="col-12 d-flex flex-column justify-content-center align-items-center hero-pages">
            <h1 class="mb-0 text-center heading-pages">ready to book?<br>
                let's get started!</h1>
          </div>
    </header> -->

    <!-- Main content -->

{% if user.is_authenticated %}
Hi {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}



    <!-- booking.html content ends here -->
     
{% endblock %}