{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- booking.html content starts here -->
    <!-- Header -->
    
    <header id="header" class="container-fluid p-0 ">
<div class="col-12 d-flex flex-column justify-content-center align-items-center hero-pages">
            <h1 class="mb-0 text-center heading-pages">ready to book?<br>
                let's get started!</h1>
          </div>
    </header>

    <!-- Main content -->
 


    <!-- booking.html content ends here -->
{% endblock %}