{% extends "book-now-base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Changes title on the page (in the tab) -->
{% block title %} Booking {% endblock %}

{% block content %}

<!-- Header -->
  <header id="header" class="container-fluid p-0 ">
<div class="col-12 d-flex flex-column justify-content-center align-items-center booking-header">
             {% if user.is_authenticated %}
                <h2>Welcome {{ user.username }}!</h2>
                {% endif %}
                <h1 class="mb-0 text-center heading-pages">let's book your appointment</h1>
            
          </div>
    </header> 

<!-- Main content -->

<section class="booking-index">
<form method="post">
    {% csrf_token %}
    {{ appointment_form|crispy }}
      <button type="submit" class="btn custom-btn">Book Appointment</button>
</form>



{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul></section>
{% endif %}
{% endblock %}