{% extends "book-now-base.html" %}

<!-- Changes title on the page (in the tab) -->
{% block title %} Bark & Brush | My Appointments {% endblock %}

<!-- My Appointments content starts here-->
{% block content %}

<!-- Header -->
<header id="header" class="container-fluid p-0 ">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center booking-header">
    <h1 class="mb-0 text-center heading-pages">let's manage your appointments</h1>
  </div>
</header>

<section class="booking-index">
  <!-- If user has any booked appointments, they show here-->
  {% if upcoming_appointments %}
  <ul class="ps-0">
    {% for appointment in upcoming_appointments %}
    <li>
      <div class="mt-2 p-3" id="appointment-container">

        <div class="mb-3" id="appointment-info">
          <!-- |capfirst makes first letter in dog name capitalized for clean UI -->
          <h4>{{ appointment.dog_name|capfirst }}</h4>
          <p><strong>{{ appointment.day }} at {{ appointment.time }}</strong> — {{ appointment.service }}</p>
        </div>

        <a href="{% url 'update_appointment' appointment.pk %}" class="btn custom-btn-booking">Edit <i
            class="fa-solid fa-pencil ms-1"></i></a>
        <form action="{% url 'update_appointment' appointment.pk %}" method="post" style="display:inline;"
          onsubmit="return confirm('Are you sure you want to cancel this appointment?');">
          {% csrf_token %}
          <button type="submit" name="delete" class="btn custom-btn-booking-outline danger-button">Cancel <i
              class="fa-solid fa-trash ms-1"></i></button>
        </form>

      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Book another appointment -->
  <div class="text-start">
    <a href="{% url 'book_appointment' %}" class="btn custom-btn-booking">Book another appointment<i
        class="fa-solid fa-calendar-plus ms-2"></i></a>
  </div>

  <!-- If user doesn't have booked appointments, this will show -->
  {% else %}
  <div class="text-center">
    <h4>You have no appointments yet.</h4>
    <a href="{% url 'book_appointment' %}" class="btn custom-btn-booking mt-2">Book your first appointment<i
        class="fa-solid fa-calendar ms-2"></i></a>
   </div>
   {% endif %}

   <!-- If the user has past appointments, they will show here -->

   {% if past_appointments %}
   <h3 class="mt-5"> Past Appointments </h3>

   <ul>
     {% for appointment in past_appointments %}
     <li class="text-muted">
       {{ appointment.dog_name|capfirst }} was here {{ appointment.day }} at {{ appointment.time }} and got the service
       {{ appointment.service }}
     </li>
     {% endfor %}
   </ul>
   {% endif %}

</section>
{% endblock %}