{% extends "book-now-base.html" %}
{% load static %}

{% load crispy_forms_tags %}

<!-- Changes title on the page (in the tab) -->
{% block title %} Appointments {% endblock %}
{% block content %}

  <header id="header" class="container-fluid p-0 ">
<div class="container-fluid d-flex flex-column justify-content-center align-items-center booking-header">

                <h1 class="mb-0 text-center heading-pages">let's update your appointment</h1>
            
          </div>
    </header> 


<section class="booking-index">

<div>
  <form method="post" class="booking-form">
    {% csrf_token %}
     {% crispy appointment_form %}
    
  </form>
  <form method="post" onsubmit="return confirm('Are you sure you want to cancel this appointment?');">
    {% csrf_token %}
    <button type="submit" name="delete" class="btn custom-btn-booking-outline danger-button">Cancel Appointment <i class="fa-solid fa-trash ms-2"></i></button>
</form>

</div>


</section>
{% endblock %}