{% extends 'book-now-base.html' %}

{% load static %}
{% load crispy_forms_tags %}

<!--
   Account Template

   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-->

<!-- Changes title on the page (in the tab) -->
{% block title %} Bark & Brush | Account {% endblock %}

<!-- Account content goes here -->
{% block content %}
<!-- Header -->
<header id="header" class="container-fluid p-0 ">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center booking-header">
        <h1 class="mb-0 text-center heading-pages">let's manage your account</h1>
    </div>
</header>

<!-- Main content -->
<section class="booking-index">

    <!-- User update form -->
    <form method="post">
        {% csrf_token %}
        {% crispy user_form %}
    </form>
</section>
{% endblock %}