{% extends "book-now-base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Changes title on the page (in the tab) -->
{% block title %} Password Reset | Set new password {% endblock %}

<!-- Password Reset Confirmation content starts here -->
{% block content %}
<section class="container booking-index mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Set New Password</h1>

            <!-- If the password reset link sent to email is valid, password change is possible -->
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn custom-btn-booking mt-3">Change Password</button>
            </form>

            <!-- If the password reset link sent to email is NOT valid, alert shows -->
            {% else %}
            <div class="alert alert-danger mt-4">
                <p>This password reset link is invalid, possibly because it has already been used. Please request a new
                    password reset.</p>
            </div>
            <a href="{% url 'password_reset' %}" class="btn custom-btn-booking mt-2">Request New Reset Link</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}