{% extends "book-now-base.html" %}

{% load static %}

<!--
   Password Reset Complete Template
   ------------------------------------------------------------
   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-->

<!-- Changes title on the page (in the tab) -->
{% block title %} Password Reset | Complete {% endblock %}

<!-- Password Reset Done Content starts here -->
{% block content %}
<section class="container booking-index text-center mt-5">
    <h1>Password reset Successful</h1>
    <p>Your password has been set. You may now log in using your new password.</p>
    <a href="{% url 'login' %}" class="btn custom-btn-booking mt-3">Go to Login</a>
</section>
{% endblock %}