{% extends 'book-now-base.html' %}

{% load static %}
{% load crispy_forms_tags %}

<!--
   Password Reset Complete Template
   ------------------------------------------------------------
   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-->

<!-- Changes title on the page (in the tab) -->
{% block title %} Password Reset {% endblock %}

<!-- Password Reset content starts here -->
{% block content %}
<section class="container booking-index mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4">Forgot Your Password?</h1>
            <p>
                Enter the email associated with your account, and we'll send you a link to reset your password.
            </p>

            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</section>
{% endblock %}