{% extends "base.html" %}
{% load static %}

<!--------------------------------------------------------------
   404 Template
   ------------------------------------------------------------
   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-------------------------------------------------------------->

<!-- Changes title on the page (in the tab) -->
{% block title %} 404 - Page not Found {% endblock %}

<!-- 404 content starts here -->
{% block content %}
    <!-- Main content -->
    <section class="container-fluid d-flex flex-column justify-content-center align-items-center pt-5 pb-5" id="error-page">
            <h1 class="container mb-0 text-center heading-pages mt-5">Oops! Something went wrong</h1>
            <a href="{% url 'home' %}" class="btn custom-btn mt-5 mb-5" id="error-btn">Go back to homepage</a>
    </section>
{% endblock %}