{% extends "base.html" %}
{% load static %}

<!--
   About Template

   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-->

<!-- Changes title on the page (in the tab) -->
{% block title %} About {% endblock %}

<!-- About content starts here -->
{% block content %}

    <!-- Header -->
    <header id="header" class="container-fluid p-0 ">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center hero-pages">
            <h1 class="mb-0 text-center heading-pages">read about our story and our philosophy</h1>
          </div>
    </header>

    <!-- Main content -->
    <section class="container d-flex flex-column mt-5" id="about-container">

        <!-- Our story-->
        <section class="d-flex flex-column flex-lg-row justify-content-lg-evenly mb-4" id="our-story">
            <img src="{% static 'images/about1.jpg' %}" class="img-fluid border-rad mb-2 mb-lg-4 col-lg-6 me-lg-2" alt="Groomer grooming a small dog">
            <div class="col-lg-5 d-flex flex-column">
                <h3>Our Story</h3>
                <h4>A Passion for compassion</h4>
                <p>The inspiration for Bark & Brush came from my own rescue dog, Max. After a terrible experience at a
                    busy,
                    impersonal grooming chain, I saw how stressed and anxious he was. I knew there had to be a better
                    way
                    — a place where a dog's emotional well-being was as important as their physical appearance.</p>
                <p>My goal was to build a space where every dog, no matter their temperament or breed, could feel safe
                    and
                    comfortable while getting the high-quality care they deserve. This vision of a calm, compassionate
                    grooming
                    experience is what led me to open Bark & Brush.</p>
            </div>
        </section>
        
        <!-- Our Philosophy -->
        <section class="d-flex flex-column flex-lg-row justify-content-lg-evenly mb-3 mb-lg-5" id="our-phil">
            <div class="col-lg-5 d-flex flex-column">
                <h3>Our Philosophy</h3>
                <h4>Compassionate Care, Beautiful Results</h4>
                <p>At Bark & Brush, our mission is to provide the highest quality grooming in a safe, stress-free,
                    and loving environment. We believe that grooming is more than just a haircut—it's an essential part
                    of a dog's health and happiness.</p>
                <p>We use only high-quality, all-natural shampoos and conditioners, and we take our time with each dog,
                    ensuring a calm and positive experience. Our goal is to build trust with your pet, so they genuinely
                    look forward to their spa day with us.
                </p>
            </div>
            <img src="{% static 'images/about2.jpg' %}" class="img-fluid border-rad mb-2 col-lg-6 ms-lg-2" alt="Groomer giving a small dog a bath">
        </section>

        <!-- Our Team -->
        <section class="d-flex flex-column flex-lg-row justify-content-lg-evenly mb-5" id="our-team">
            <img src="{% static 'images/grooming.jpg' %}" class="img-fluid border-rad mb-2 order-1 order-lg-0 col-lg-6 me-lg-2"
                alt="A dog that is getting a trim">
            <div class="col-lg-5 d-flex flex-column order-0 order-lg-1">
                <h3>Our Team</h3>
                <p class="mb-0"><strong>Lina - Founder & Lead Groomer</strong></p>
                <p>From a young age, I've had a special connection with animals. My journey into professional grooming
                    began
                    eight years ago when I saw a need for a more compassionate approach to dog care. I am a Certified
                    Master Groomer
                    and have dedicated my career to understanding canine behavior and creating beautiful, breed-standard
                    cuts.</p>
                <p class="mb-0"><strong>Emma - Professional Dog Stylist</strong></p>
                <p>Emma joined our team three years ago and quickly became an integral part of our family. She has a
                    natural talent
                    for styling and a patient, gentle demeanor that puts even the most nervous dogs at ease. Emma
                    specializes in
                    hand scissoring and is committed to continuing education to stay on top of the latest grooming
                    techniques.</p>
            </div>
        </section>
    </section>
{% endblock %}