{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- gallery.html content starts here -->
    <section id="gallery">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
            <div class="container row justify-content-center gap-2">
                <img src="assets/images/gallery/1julio-bernal-WLGx0fKFSeI-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/2karsten-winegeart-s9KAJUt0NAM-unsplash.jpg"
                    class="gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/3michael-g-K0bSbSASm8E-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/5karsten-winegeart-_hoAqzp39tk-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/5faber-leonardo-CLhFS67ni1c-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/6pexels-goochie-poochie-3299899.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/7isabella-rosa-XMUtD5ud8ls-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/9pexels-goochie-poochie-3299908.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
                <img src="assets/images/gallery/8yuhao-qian-Lu2kDgzL-MI-unsplash.jpg"
                    class="img-fluid gallery-img col-10 col-sm-5 col-lg-3" alt="...">
            </div>
        </div>
    </section>

    <!-- gallery.html content ends here -->
{% endblock %}