{% extends "base.html" %}
{% load static %}

<!--
   Homepage Template
   ------------------------------------------------------------
   - Extends the base layout (includes navbar, footer, modals
   and scripts)
   - Uses the 'content' block to inject main page content
-->

<!-- Changes title on the page (in the tab) -->
{% block title %} Homepage {% endblock %}

<!-- Main content starts here -->
{% block content %}

    <!-- Header -->
      <header class="container-fluid p-0" id="header">
      <div
            class="col-md-12 d-flex flex-column justify-content-between flex-md-row justify-content-md-between align-items-center hero-index">
            <div class="col-md-6 col-lg-7 d-flex flex-column align-items-center align-items-lg-center">
                <h1 class="mb-0 text-center heading-index">bark & brush</h1>
                <p class="text-center" id="subtext">grooming with love</p>
                <a href="{% url 'services' %}" class="btn custom-btn-outline mb-3">Our services</a>
            </div>

            <div class="col-md-6 col-lg-5 d-flex justify-content-center" id="head-img">
                <img src="{% static 'images/homepage-hero.png' %}" alt="Keeshond with shampoo at its head">
            </div>
        </div>
    </header>

    <!-- First section -->
    <section class="container-fluid d-flex flex-column justify-content-center" id="index-info">
        <div class="container d-flex flex-column flex-lg-row gap-2" id="index-info-img">
            <img src="{% static 'images/brush.jpg' %}" class="img-fluid border-rad d-none d-lg-block col-lg-4"
                alt="A dog getting its ear brushed">
            <img src="{% static 'images/paws.jpg' %}" class="img-fluid border-rad col-12 col-lg-2"
                alt="A dog getting its paws trimmed">
            <div class="flex-column mt-2 mt-lg-0 ms-lg-4 col-lg-6" id="index-info-text">
                <h3>Welcome to Bark & Brush</h3>
                <h4>where your dog's happiness is our priority.</h4>

                <p>We are Lina and Emma, two dedicated dog lovers committed to providing top-notch grooming services in
                    a caring
                    and stress-free environment. From soothing baths to stylish trims, we ensure every pup leaves our
                    salon
                    looking and feeling their best. Schedule a grooming session today and let us pamper your furry best
                    friend!
                </p>
                <a href="{% url 'book_appointment' %}" class="btn custom-btn-outline">Book now!</a>
            </div>
        </div>
    </section>

    <!-- Second section -->
    <section class="container-fluid d-flex flex-column justify-content-center align-items-center gap-4 mt-5 mb-5"
        id="index-price">
        <h2>Our Services</h2>
        <div class="container d-flex flex-row flex-wrap justify-content-center gap-4">
            <div class="card col-md-6">
                <img src="{% static 'images/groom2.jpg' %}" class="card-img-top" alt="A dog getting its ears trimmed">
                <div class="card-body">
                    <h4 class="card-title">Full Groom</h4>
                    <p>$60 - $100+</p>
                </div>
            </div>

            <div class="card col-md-6">
                <img src="{% static 'images/wash.jpg' %}" class="card-img-top" alt="A dog getting a bath">
                <div class="card-body">
                    <h4 class="card-title">Bath and Tidy</h4>
                    <p>$35 - $120+</p>
                </div>
            </div>

            <div class="card col-md-6">
                <img src="{% static 'images/clawclip.jpg' %}" class="card-img-top " alt="A paw getting its nails trimmed">
                <div class="card-body">
                    <h4 class="card-title">Paws</h4>
                    <p>$20 - $30+</p>
                </div>
            </div>

            <div class="card col-md-6">
                <img src="{% static 'images/groom.jpg' %}" class="card-img-top" alt="A dog getting prepared for a bath">
                <div class="card-body">
                    <h4 class="card-title">De-Shedding</h4>
                    <p>$60 - $100+</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}