 @font-face { font-family: Marige Thin; src: url("/MarigefreeThin-AReam.otf"); } 
/* CSS Variables */
:root {
    --brown: #3a322e;
    --dark-blue: #3571ad;
    --light-blue: #a6b8e5;
    --pink: #f3dee2;
    --light-blue-background: #d4ddf3;
    --pink-background-color: #f4edef; 
    --primary-background-color: #f7f3f4;
    --primary-font: "Mulish", sans-serif;
    --secondary-font: "Marige Thin";

}

/* Global styles */
body {
    background-color: var(--primary-background-color);
    font-family: var(--primary-font);
    color: var(--brown);
}

h1 {
    font-family: var(--secondary-font);
    color: var(--dark-blue);
}

h2 {
        font-family: var(--secondary-font);
        font-size: 40px; 
    color: var(--dark-blue);
}

h4 {
    font-family: var(--secondary-font);
    color: var(--brown);
}


.custom-btn {
    width: 120px;
    background-color: var(--light-blue);
    font-weight: 600;
    color: var(--brown);
      transition: 0.5s;
}

.custom-btn:hover {
    background-color: #92a4d1;
}

.custom-btn-outline {
    width: 120px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    transition: 0.5s;
}

.custom-btn-outline:hover {
    background-color: var(--light-blue);

}

.hero-pages {
    background-color: var(--pink-background-color);
    min-height: 200px;    
}

.heading-pages {
      font-family: var(--secondary-font);
    font-size:35px;
    color: var(--dark-blue);   
    line-height: 100%;
    width: 80%;

}

.border-rad {
    border-radius: 10px;
}

/* Navbar */
nav {
    background-color: transparent;
}

.custom-btn-nav {
    width: fit-content;
    font-weight: 500;
    border: 1px solid #d1c9cc;
    color: #565558;
    font-weight: 700;
      transition: 0.5s;
}

.nav-item {
    font-family: var(--primary-font);
}

.nav-link {
    font-size: 20px;
    color: var(--brown);
          transition: 0.4s;
}

.nav-link:hover {
    font-weight: 600;
}

.active {
    color: var(--brown) !important;
    font-weight: 600 !important;
}

/* -- HOME PAGE -- */ 
/* Header */ 
header {
    background-color: var(--pink-background-color);
}

.hero-index {
    max-height: 680px; 
    background-color: var(--pink-background-color);
}

.heading-index {
    margin-top: 30px;
      font-family: var(--secondary-font);
    font-size: 90px;
    color: var(--dark-blue);   
    line-height: 100%;
    width: 90%;
}

#subtext {
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 16px; 
    color: var(--light-blue);
    letter-spacing: 5px;
    width: 100%; 
}

#head-img {
    width: 100%;
}

#head-img img {
    height: 350px;
}

/* Info */ 
#index-info {
    padding-top: 30px;
    background: url(/assets/images/pawbackground.png);
    background-size: contain;
    max-height: 700px; 
    background-color: var(--light-blue-background);
    padding-bottom: 30px;
}

#index-info-img img {
    max-height: 350px;
    object-fit: cover;
}

/* Price list */ 

#index-price {
    min-height: 100%;
    padding-bottom: 20px; 
}

.card {
    max-width: 300px; 
        transition: 0.7s;
        cursor: pointer;
}

.card h4 {
    font-family: var(--primary-font);
}
.card p {
    margin-bottom: 0;
    font-family: var(--secondary-font);
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

/* Footer */
footer {
        background-color: var(--pink-background-color);
    min-height: 200px;
}


#opening-times p {
    margin-bottom: 5px; 
}

.form-label {
    font-family: var(--secondary-font);
    font-size: 20px;

}
#newsletter-input {
    max-width: 350px;
    position: relative;
}
#newsletter-input input {
    width: 100%;
    padding-right: 150px;
    border-radius: 10px;
    border: 1px solid var(--light-blue)

}

#newsletter-input button {
    border-radius: 0px 10px 10px 0px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
}
#social-icons i {
    font-size: 40px;
    color: var(--dark-blue);
          transition: 0.5s;
}

#social-icons i:hover {
    transform: scale(1.1);
    color: #285a8d;
}

/* -- CONTACT MODAL -- */ 
/* Modal */ 

#contact-form label {
    font-family: var(--primary-font);
    font-size: 18px;
    margin-bottom: 0px; 
}

#contact-form input, #contact-form textarea {
    margin-bottom: 10px; 
    border: 1px solid var(--light-blue);
}

#contact-form input:focus,
#contact-form textarea:focus {
    border: 2px solid var(--dark-blue);
    outline: none !important;
}


/* -- ABOUT PAGE -- */
#about-container img {
    object-fit: cover;

}

/* -- SERVICES PAGE -- */ 
#services {
    margin-top: 50px;
    min-height: 100%;
    margin-bottom: 50px; 
}

/* -- GALLERY PAGE -- */ 

#gallery {
    background-color: var(--pink-background-color);
    padding-bottom: 70px;
}



.gallery-img {
    padding: 0;
    border-radius: 10px;
    object-fit: contain;
    transition: 0.7s;
}

.gallery-img:hover {
transform: scale(1.2);
z-index: 1;
}


/* -- 404 PAGE -- */ 
/* 404 */
#error-btn {
    width: fit-content;
}


